In [1]:
# example of utilizing negative indexing

string = "this is a string"

# print the letter n from that string

print(string[-2])

n

In [2]:
#how would you find duplicate values in a dataset?

import pandas as pd

#example data set
donors_df = "C:/Users/adars/Downloads/Resources/donors2008.csv"

donor_df = pd.read_csv(donors_df)

In [3]:
donor_df.head()

  LastName FirstName          Employer      City State    Zip  Amount  FIELD8
0    Aaron    Eugene  State Department    Dulles    VA  20189   500.0     NaN
1    Abadi   Barbara       Abadi & Co.  New York    NY  10021   200.0     NaN
2  Adamany   Anthony           Retired  Rockford    IL  61103   500.0     NaN
3    Adams  Lorraine              Self  New York    NY  10026   200.0     NaN
4    Adams    Marion              None    Exeter    NH  03833   100.0     NaN

In [4]:
#function to check duplicates DataFrame.duplicated(subset=None,keep='last')

donor_df.duplicated(subset=None,keep='last')

0       False
1       False
2       False
3       False
4       False
        ...
1771    False
1772    False
1773    False
1774    False
1775    False
Length: 1776, dtype: bool

In [5]:
# another example set of data
data = {
  "name": ["John", "Mary", "John", "Sally", "Mary"],
  "age": [40, 30, 40, 50, 30],
  "city": ["Bergen", "Oslo", "Stavanger", "Oslo", "Oslo"]
}

df = pd.DataFrame(data)

print(df.duplicated)

<bound method DataFrame.duplicated of     name  age       city
0   John   40     Bergen
1   Mary   30       Oslo
2   John   40  Stavanger
3  Sally   50       Oslo
4   Mary   30       Oslo>

In [15]:
# what is a lambda function
# lambda functions are kind of like user defined functions and can allow you to more succinctly express simple functions 
#example:

#Normal function:

def function_name(x):
    return x+x

print(function_name(2))
#should get 4

4

In [17]:
# Now doing it using a lambda function
a = lambda x: x+x

In [18]:
print(a(2))

4

In [19]:
# What is list comprehension in python
# List comprehension is used to define and create a list based on an existing list. 
#For example, if we wanted to separate all the letters in the word “retain,” and make each letter a list item, 
#we could use list comprehension:

r_letters = [letter for letter in 'retain']

print(r_letters)

['r', 'e', 't', 'a', 'i', 'n']

In [20]:
#How do you convert integers to strings?
# str()

str(4)

'4'

In [23]:
# Explain the zip() and enumerate() functions.
#zip can be used to join data structures together
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a,b)

print(x)

<zip object at 0x000001BE28B3F7C8>

In [24]:
enumerate(a)

In [25]:
print(enumerate(a))

<enumerate object at 0x000001BE28B41868>

In [ ]:
# you can use the enumerate function to change the index value