In [3]:
import pandas as pd
import numpy as np

weather = {'city': ["Jacksonville","Princeton","Wickshire","Houston","Austin","Jacksonville"], 
           'name' : ["January","January","January","February","March","April"], 
           'Temperature' : [12,13,14,26,32,42]}
      
      
      
weather_df = pd.DataFrame(weather)

In [4]:
weather_df.head()

           city      name  Temperature
0  Jacksonville   January           12
1     Princeton   January           13
2     Wickshire   January           14
3       Houston  February           26
4        Austin     March           32

In [5]:
# Use the pivot function to arrange temperature by month per city. Takes three parameters, Index, Columns, Values. I want the values to be temperature, each city gets its own column, and it will be by month so that's the index.



weather_df.pivot(index="name",columns="city",values="Temperature")

city      Austin  Houston  Jacksonville  Princeton  Wickshire
name
April        NaN      NaN          42.0        NaN        NaN
February     NaN     26.0           NaN        NaN        NaN
January      NaN      NaN          12.0       13.0       14.0
March       32.0      NaN           NaN        NaN        NaN